body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: rgb(5, 5, 5);
    background-color: #00c0c0;
    border-radius: 5px;
    font-family: arial;
    font-size: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

button {
    color: white;
    background-color: rgb(21, 21, 48);
    border-radius: 5px;
    font-family: arial;
    font-size: 20px;
}